<div class="container"  [formGroup]="encuestaForm">
    <h1 class="my-4 text-center">Test cuestionarios_amc 12</h1>

    <div class="alert alert-secondary" role="alert">
        <strong>Instrucciones de la Encuesta:</strong>
        <p>Agradecemos tu participación en esta encuesta diseñada para evaluar tu experiencia y satisfacción en el
            trabajo. A través de una serie de preguntas, buscamos comprender mejor cómo te sientes en relación con
            tu entorno laboral, los recursos disponibles y el reconocimiento que recibes. Cada pregunta se presenta
            con un menú desplegable o campo de texto, te pedimos que respondas con sinceridad. Tus respuestas son
            valiosas y contribuirán a mejorar nuestro ambiente de trabajo y apoyarte mejor en tu desarrollo
            profesional. Por favor, completa todas las preguntas y haz clic en "Enviar" cuando hayas terminado.
            ¡Gracias por tu colaboración!</p>
    </div>
    <form [formGroup]="encuestaForm" (ngSubmit)="onSubmit()">
        <!-- Antigüedad -->
        <div class="form-group">
            <label for="antiguedad" class="question-label">¿Cuántos años llevas en la empresa?</label>
            <select id="antiguedad" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="Menos de 1 año">Menos de 1 año</option>
                <option value="Entre 1 y 5 años">Entre 1 y 5 años</option>
                <option value="Entre 6 y 10 años">Entre 6 y 10 años</option>
                <option value="Entre 11 y 15 años">Entre 11 y 15 años</option>
                <option value="Entre 16 y 20 años">Entre 16 y 20 años</option>
                <option value="Más de 20 años">Más de 20 años</option>
            </select>
        </div>

        <!-- Edad -->
        <div class="form-group">
            <label for="edad" class="question-label">¿Cuál es tu edad?</label>
            <input type="number" id="edad" class="form-control" placeholder="Tu edad" required>
        </div>

        <!-- Preguntas del cuestionarios_amc 12 -->
        <div class="form-group">
            <label for="q1" class="question-label">1. ¿Sabes lo que se espera de ti en tu trabajo?</label>
            <select id="q1" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q2" class="question-label">2. Tienes los materiales y equipo para hacer correctamente tu
                trabajo?</label>
            <select id="q2" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q3" class="question-label">3. ¿tienes la oportunidad de hacer lo que mejor sabes hacer cada día
                en el trabajo?</label>
            <select id="q3" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q4" class="question-label">4. En los últimos 7 días ¿Has recibido reconocimiento o
                felicitaciones por hacer un buen trabajo?</label>
            <select id="q4" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q5" class="question-label">5. ¿Sientes que tu supervisor o alguien se preocupa por ti como
                persona en el trabajo?</label>
            <select id="q5" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q6" class="question-label">6. ¿Hay alguien que alienta tu desarrollo en el trabajo?</label>
            <select id="q6" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q7" class="question-label">7. ¿Tus opiniones se toman en cuenta en el trabajo?</label>
            <select id="q7" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q8" class="question-label">8. ¿La misión/propósito de su empresa hace sentir que su trabajo es
                importante?</label>
            <select id="q8" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q9" class="question-label">9. ¿Tus compañeros de trabajo están comprometidos en hacer un trabajo
                de calidad?</label>
            <select id="q9" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q10" class="question-label">10. Tienes un mejor amigo en el trabajo?</label>
            <select id="q10" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q11" class="question-label">11. En los últimos seis meses ¿alguien en el trabajo le ha hablado
                sobre su progreso?</label>
            <select id="q11" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="form-group">
            <label for="q12" class="question-label">12. En el último año ¿ha tenido la oportunidad de aprender y
                crecer?</label>
            <select id="q12" class="form-control" required>
                <option value="" disabled selected>Selecciona una respuesta</option>
                <option value="5">Completamente de acuerdo</option>
                <option value="4">De acuerdo</option>
                <option value="3">Neutral</option>
                <option value="2">En desacuerdo</option>
                <option value="1">Completamente en desacuerdo</option>
            </select>
        </div>

        <div class="submit-btn-container">
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
        </div>
    </form>
</div>
