<div class="container">
    <div class="text-center my-4">
        <br>
        <img src="./assets/logo_1.png" alt="Logotipo" class="img-fluid tamano">
    </div>
    <h1 class="thank-you-msg">¡Gracias por completar el formulario de registro!</h1>
    <p class="info-text">
        Valoramos mucho tu tiempo y tus respuestas. Pronto te enviaremos más información sobre los próximos pasos a seguir. Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nosotros.

        ¡Estamos aquí para ayudarte!
    </p>
</div>