#tabla{max-height:1300px;overflow-y:auto;width:100%;margin:0 auto;border-radius:15px;overflow-x:auto;border:3px solid #293241;border-collapse:separate;border-spacing:0;box-shadow:0 4px 8px rgba(0,0,0,0.1)}
.table td{word-wrap:break-word;overflow-wrap:break-word;white-space:normal;width:160px;min-width:160px;max-width:160px;color:#293241;padding:12px;border-bottom:none;border-left:none;border-top:none;border-right:2px solid #3d5a80;line-height:1}
.table tr:last-child td:first-child{border-bottom-left-radius:15px}
.table tr:last-child td:last-child{border-bottom-right-radius:15px}
:host{display:block;height:100%;width:100%;min-height:100vh;background-color:#293241}
h2{color:#CEBB64;margin:0 auto;padding:10px;display:flex;justify-content:center}
.form-label{color:#CEBB64;font-weight:bold}
.rounded-box{background-color:#3d5a80;border-radius:15px;padding:10px;margin-top:40px;margin-bottom:40px;box-shadow:0 4px 8px rgba(0,0,0,0.1)}
.custom-btn-activado{background-color:#CEBB64;border-color:#CEBB64}
.custom-btn-activado:hover{background-color:#AF9837;border-color:#AF9837}
#filtrarNombre{width:265px}
#filtrarNombre:hover{border:1px solid #AF9837;box-shadow:1px 1px 15px 0px rgba(175,152,55,1);-webkit-box-shadow:1px 1px 15px 0px rgba(175,152,55,1);-moz-box-shadow:1px 1px 15px 0px rgba(175,152,55,1)}
#collectionSelect:hover,#fechaInicio:hover,#fechaFin:hover{border:1px solid #AF9837;box-shadow:1px 1px 15px 0px rgba(175,152,55,1);-webkit-box-shadow:1px 1px 15px 0px rgba(175,152,55,1);-moz-box-shadow:1px 1px 15px 0px rgba(175,152,55,1)}
.tamano{width:50%;margin:0 auto;padding:10px;display:flex;justify-content:center}
#tabla-container{scrollbar-width:thin;scrollbar-color:#97BCDB #283A53;border-radius:10px}
#tabla-container::-webkit-scrollbar{height:10px;width:10px}
#tabla-container::-webkit-scrollbar-track{border-radius:10px;background-color:#283A53}
#tabla-container::-webkit-scrollbar-thumb{border-radius:10px;background-color:#97BCDB}
#tabla-container::-webkit-scrollbar-thumb:hover,#tabla-container::-webkit-scrollbar-thumb:active{background-color:#85B1D5}
#tabla-horizontal-container{width:100%;max-width:1050px;overflow-y:auto;overflow-x:auto;height:400px;box-shadow:0 4px 8px rgba(0,0,0,0.1);background-color:#f7f9fc;padding:20px}
#tabla-horizontal{width:1050px;min-width:1050px;border-collapse:collapse;border-spacing:0}
#tabla-horizontal th,#tabla-horizontal td{word-wrap:break-word;overflow-wrap:break-word;white-space:normal;color:#293241;border-bottom:1px solid #ddd;padding:12px;line-height:1}
#tabla-horizontal th{background-color:#283A53;color:white;font-weight:bold}
#tabla-horizontal td{background-color:#f0f4f8;color:#333}
#tabla-horizontal-container::-webkit-scrollbar{height:8px}
#tabla-horizontal-container::-webkit-scrollbar-track{background:#f1f1f1}
#tabla-horizontal-container::-webkit-scrollbar-thumb{background:#97BCDB}
#tabla-horizontal-container::-webkit-scrollbar-thumb:hover{background:#283A53}
button img,svg{width:20px;height:20px}
.custom-btn-activado2{background-color:#97BCDB;border-color:#97BCDB;margin:0 auto;padding:10px;display:flex;justify-content:center}
.custom-btn-activado2:hover{background-color:#76A8D0;border-color:#76A8D0}
.modal-info{background-color:#C2D8EA;padding-left:20px;padding-right:20px;padding-bottom:15px}
.modal-body{background-color:#C2D8EA;max-height:650px;overflow-y:auto}
.modal-header,.modal-footer{background-color:#3D5A80}
#infoModal .form-label{color:#293241;font-weight:bold}
.modal-title{color:#CEBB64}
#infoModal{border-radius:35px;margin:0 auto;padding:10px;text-align:left}
.modal-body::-webkit-scrollbar{height:8px;background:#283A53}
.modal-body::-webkit-scrollbar-track{background:#283A53}
.modal-body::-webkit-scrollbar-thumb{background:#97BCDB}
.modal-body::-webkit-scrollbar-thumb:hover{background:#283A53}
.table input[type="checkbox"]{background-color:#3D5A80;width:20px;height:20px;margin:0 auto;padding:10px;display:flex;justify-content:center;align-items:center}
.table input[type="checkbox"]:checked{background-color:#AF9837;border-color:#AF9837}
.familiar-fieldset{border:2px solid rgba(61,90,128,0.5);border-radius:10px;padding:10px;margin-bottom:20px;background-color:#f0f4f8}
.familiar-fieldset legend{font-size:1.2em;font-weight:bold;color:#293241;padding:0 10px;background-color:#CEBB64;border-radius:5px;box-shadow:0 2px 4px rgba(0,0,0,0.1)}
